.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enterDone {
  opacity: 1;
  transform: translateX(0);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitDone {
  opacity: 0;
  transform: translateX(-100%);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease, transform 300ms ease;
}
