@import "base";
.header {
  height: 50px;
  background-color: #232f3e;
  display: flex;
}
.logo {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/35/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468500794_.png);
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
  margin: 10px 0 0 15px;
  cursor: pointer;
}
.searchbar {
  margin: $headerMargin;
}
.login {
  margin-left: auto;
  margin-right: 10px;
}

@media screen and (max-width: 812px) {
  .header {
    height: 80px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .searchbar {
    display: block;
    order: 2;
    width: 100%;
    text-align: left;
  }
}
